:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-Orange: hsl(25, 100%, 94%);

  /* Neutral */
  --Very-Dark-Blue: hsl(220, 13%, 13%);
  --Dark-Grayish-Blue: hsl(219, 9%, 45%);
  --Grayish-Blue: hsl(220, 14%, 75%);
  --Light-Grayish-Blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

#root {
  margin: 0px 10rem;
}

button {
  background-color: transparent;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 30px 0px;
  border-bottom: 1px solid var(--Grayish-Blue);
  position: relative;
  z-index: 0;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 20px;
  margin-right: 4rem;
}

.cart-icon {
  height: 20px;
  margin-right: 3rem;
}

.cart-icon path:hover {
  fill: var(--Black);
}

.profile-icon {
  height: 50px;
}

.profile-icon:hover {
  border: 2px solid var(--Orange);
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
  font-size: 14px;
  margin-right: 2.5rem;
}
a:hover {
  padding-bottom: 45px;
  color: var(--Black);
  border-bottom: 4px solid var(--Orange);
}

.main {
  margin-top: 80px;
  padding: 0px 120px 0px 50px;
  display: flex;
  gap: 100px;
}

.gallery {
  max-width: 420px;
}

.main-img {
  border-radius: 20px;
  height: 420px;
  margin-bottom: 25px;
}

.small-images {
  display: flex;
  justify-content: space-between;
}

.small-images img {
  height: 79px;
  border-radius: 13px;
}

.selected img {
  filter: opacity(40%);
}

.selected {
  border: 2px solid var(--Orange);
}

.img-btn {
  border-radius: 15px;
  height: 80px;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 0px 60px;
}

.company {
  color: var(--Orange);
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.prod-name {
  font-size: 2.5rem;
}

.prod-description {
  color: var(--Dark-Grayish-Blue);
}

.cur-price {
  letter-spacing: 1px;
  display: flex;
}

.disc-percent {
  margin-left: 15px;
  font-size: 1rem;
  color: var(--Orange);
  padding: 3px 8px;
  background-color: var(--Pale-Orange);
  border-radius: 4px;
}

.prev-price {
  color: var(--Grayish-Blue);
  text-decoration: line-through;
  margin-top: 10px;
  font-weight: 700;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-right: 15px;
  width: 40%;
  background-color: var(--Light-Grayish-Blue);
  border-radius: 8px;
  font-weight: 700;
}

.minus,
.plus {
  display: flex;
  align-items: center;
}

.buy-btns {
  display: flex;
}

.buy-btn {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  color: var(--White);
  background-color: var(--Orange);
  padding: 15px 0px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px hsla(26, 100%, 55%, 0.4);
}

.buy-btn p {
  font-weight: 700;
  margin-left: 15px;
}

.header {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.cart-content {
  background-color: var(--White);
  border-radius: 8px;
  box-shadow: 0px 10px 15px hsla(0, 0%, 0%, 0.3);
  position: absolute;
  top: 100px;
  right: -50px;
  width: 330px;
  align-self: flex-end;
}

.cart-title-div {
  font-weight: 700;
  border-bottom: 1px solid var(--Grayish-Blue);
  padding: 20px;
}

.cart-items {
  padding: 25px 20px;
}

.checkout {
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.5px;
  box-shadow: none;
  margin-top: 10px;
}

.cart-item-img {
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--Grayish-Blue);
  position: relative;
}

.cart-item:last-of-type {
  border-bottom: none;
}

.cart-item-description {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--Dark-Grayish-Blue);
  margin-right: 15px;
}

.item-total-price {
  font-weight: 700;
  color: var(--Black);
  margin-left: 5px;
}

.delete-item {
  position: absolute;
  right: 10px;
  top: 10px;
}

.cart-empty-p {
  margin-bottom: 15px;
  text-align: center;
}

.hover-btn:hover {
  filter: opacity(50%);
}

.cart-icon-btn {
  position: relative;
}

.cart-count {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--White);
  position: absolute;
  z-index: 10;
  background-color: var(--Orange);
  width: 22px;
  border-radius: 10px;
  top: -8px;
  left: 9px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.lightbox .main-img {
  position: relative;
  z-index: 110;
  height: 500px;
}

.right-arrow,
.left-arrow,
.close {
  position: absolute;
  z-index: 100;
  top: 42%;
  background-color: var(--White);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  right: 34%;
}

.close {
  top: 10%;
  right: 35%;
  background-color: transparent;
}

.close path {
  fill: var(--White);
}

.close:hover path {
  fill: var(--Orange);
}

.right-arrow:hover path,
.left-arrow:hover path {
  stroke: var(--Orange);
}

@media (max-width: 1300px) {
  #root {
    margin: 0 5rem;
  }

  .main {
    margin-top: 50px;
  }
}

@media (max-width: 1200px) {
  #root {
    margin: 0 2.5rem;
  }

  .main {
    gap: 50px;
    padding-right: 80px;
  }

  .main-img {
    height: 380px;
  }
}

@media (max-width: 1000px) {
  .main {
    padding-right: 40px;
  }

  .main-img {
    height: 350px;
  }
}


@media (max-width:850px) {
  #root{
    margin:10px;
  }
}